*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

body{
    background-image: radial-gradient(#67349A 100%, #1D2F50 100%);
    overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
